<% layout('layout/boilerplate') %>
    <div class="w-100 mt-3" style="height: 300px;">
        <!-- <img src="../img/cover.jpg" class="w-100 cover_image b-1 rounded-7 mt-3 " alt="profile cover"
            style="object-fit: cover; height: 250px; padding: 3px;"> -->
        <%- include('../partials/carousel')%>
    </div>


    <%- include('../books/allbooks') %>