<% layout('layout/boilerplate') %>
    <h1>Make new book</h1>
    <form action="/books" method="post">
        <div class="form-outline" data-mdb-input-init>
            <input class="form-control" type="text" name="username" placeholder="username" id="username">
            <label class="form-label" for="username">Your Username: </label>
        </div>
        <div class="form-outline" data-mdb-input-init>
            <input class="form-control" type="text" name="title" placeholder="title" id="title">
            <label class="form-label" for="title">Title:</label>

        </div>
        <div class="form-outline" data-mdb-input-init>
            <input class="form-control" type="text" name="images" placeholder="images" id="images">
            <label class="form-label" for="images">Images:</label>

        </div>
        <div class="form-outline" data-mdb-input-init>
            <input class="form-control" type="text" name="descriptions" placeholder="descriptions" id="descriptions">
            <label class="form-label" for="descriptions">Descriptions</label>
        </div>

        <div>
            <label class="visually-hidden" for="condition">Condition:</label>
            <select data-mdb-select-init class="select" name="condition" id="condition">
                <option value="AS_NEW">As New</option>
                <option value="GOOD">Good</option>
                <option value="WELL_WORN">Well-Worn</option>
            </select>

        </div>
        <div class="form-outline" data-mdb-input-init>
            <label class="form-label" for="categories">Categories:</label>
            <select name="categories" id="categories">
                <option value="FICTION">Fiction</option>
                <option value="NOVEL">Novel</option>
                <option value="TEXT_BOOK">Text-Book</option>
                <option value="HISTORY">History</option>
                <option value="SCIENCE">Science</option>
            </select>
        </div>
        <a href="/books" class="btn btn-secondary">All Books</a>
        <button class="btn btn-primary">Submit</button>

    </form>