<div id="carouselExampleInterval" class="carousel slide w-100 h-100 rounded-7" data-mdb-ride="carousel"
    data-mdb-carousel-init>
    <div class="carousel-indicators">
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active rounded-7" data-mdb-interval="5000">
            <img src="../img/cover0.jpg" class="d-block w-100 rounded-7" alt="Wild Landscape"
                style="object-fit: cover; height: 300px; " />
        </div>
        <div class="carousel-item" data-mdb-interval="5000">
            <img src="../img/cover1.jpg" class="d-block w-100  rounded-7" alt="Camera"
                style="object-fit: cover; height: 300px; " />
        </div>
        <div class="carousel-item" data-mdb-interval="5000">
            <img src="../img/cover2.jpg" class="d-block w-100  rounded-7" alt="Exotic Fruits"
                style="object-fit: cover; height: 300px; " />
        </div>
    </div>
    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval"
        data-mdb-target="#carouselExampleIndicators" type="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval"
        data-mdb-target="#carouselExampleIndicators" type="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>